@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem 0;
  background: linear-gradient(0deg, #838da1 5%, #123076 99%);
  text-transform: uppercase;
}

p{
  margin: 1rem 0;
}

/*main*/

main.box,
#message-error {
  text-align: center;
  max-width: 500px;
  color: white;
  padding: 50px;
  background-color: #838da1;
  border-radius: 10px;
}

h1 {
  text-shadow: 0.1rem 0.1rem 1rem orange; /*left bottom sombreamento */
  letter-spacing: 0.1rem;
}

.btn {
  padding: 1rem 4rem;
  background-color: #133a95;
  border-radius: 15px;
  box-shadow: 0.1rem 0.1rem 1rem #133a95;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.15s;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: #0f2d72;
}

/*form login*/

.form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .inputs {
    .input {
      padding: 15px;
      border: none;
      border-radius: 5px;
      display: block;
      width: 100%;
      margin-top: 1rem;
      outline: none;
    }
  }

  .show {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    label {
      cursor: pointer;
    }

    input {
      width: 1rem;
      height: 1rem;
      cursor: pointer;

      &:checked {
        accent-color: #133a95;
      }
    }
  }
}

.btn{
  
}

.recovery {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;

  small {
    font-size: 0.85rem;
  }
}

#message-error {
  display: none;
  text-align: left;
  position: relative;

  h2 {
    text-align: center;
    color: white;
    text-shadow: 0.1rem 0.1rem 1rem rgb(255, 0, 0); /*left bottom sombreamento */
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 3rem;
    padding-left: 6rem;
  }

  .invalid {
  }

  .invalid::before {
    color: red;
    position: relative;
    content: "✖";
    font-size: 1rem;
    left: -35px;
  }

  .valid {
  }

  .valid::before {
    color: green;
    position: relative;
    content: "✔";
    left: -35px;
  }
}
